{% for post in posts %}
  <div class="col-12 col-md-6 my-2">
    <div class="my-3 article-card">
      <small class="article-category">{{ post.categories.first }}</small>
      <a href="{{ post.get_detail_absolute_url }}" class="d-none d-md-flex justify-content-start">
        {% if post.image %}
          <img
          class="#"
          width="170"
          height="170"
          src="{{ post.image.url }}"
          alt="{{ post.title }} featured image"
        />
        {% else %}
        <img
            class="#"
            width="170"
            height="170"
            src="https://res.cloudinary.com/dzdyzl4r5/image/upload/v1679168303/default-mentor_dm35yd.png"
            alt=" default image"
          />
        {% endif %}
      </a>
      <div class="container article-info">
        <div class="mt-2">
          <a class="text-decoration-none action-link fw-semibold fs-5" href="{{ post.get_detail_absolute_url }}">{{ post.title }}</a>
        </div>
        <small class="text-muted">{{ post.created_date}}</small>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.get_detail_absolute_url }}" class="action-link text-decoration-none">Continue reading</a>
      </div>
    </div>
  </div>
{% if forloop.counter|divisibleby:2 %}
  <div class="col-12 d-none d-sm-block d-md-block d-lg-none"></div>
{% endif %}
{% if forloop.counter|divisibleby:3 %}
  <div class="col-12 d-none d-lg-block d-xl-none"></div>
{% endif %}
{% if forloop.counter|divisibleby:4 %}
  <div class="col-12 d-none d-xl-block"></div>
{% endif %}
{% endfor %}
