{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
    <section id="hero" class="container-fluid">
        {% include 'home/includes/hero.html' %}
    </section>
    <section id="about" class="container-fluid">
        {% include 'home/includes/about.html' %}
    </section>
    <section id="projects" class="container-fluid">
        {% include 'home/includes/projects.html' %}
    </section>
    <section id="contact" class="container-fluid">
        {% include 'home/includes/contact.html' %}
        <!--Back to Top-->
        <a href="#hero" class="back-to-top"><i class="fa-solid fa-arrow-up"></i></a>
    </section>
{% endblock %}
{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'js/hero.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
    <script src="{% static 'js/projects.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}