@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    /* typograpyh */
    --fs-xl: clamp(1.6rem, 7vw, 3.6rem);
    /* colors */
    --f-col-dark: #0a031a;
    --f-col-grab: #ED5959;
    --f-col-light: #fff;
    /* transition */
    --trans-ease: all 0.5s ease-in-out;
}

/* General */

body{
    background-color: #0A031A;
    color: #fff;
}

a{
    text-decoration: none;
    color: var(--f-col-light);
}

.page-center{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----button---- */
.action-btn{
    color: var(--f-col-grab) !important;
    border: 1.5px solid var(--f-col-grab);
    background: rgba(237, 89, 89, 0.2);
    border-radius: 5px;
    font-weight: 500;
    width: fit-content;
    padding: 5px 15px;
}

.action-btn:hover{
    color: var(--f-col-grab);
    border: 1.5px solid var(--f-col-grab);
    background: rgba(237, 89, 89, 0.4);
    transition: var(--trans-ease);
}

/* Social Links */
.social-icons{
    display: flex;
    gap: 1rem;
}

.social-icons .social-icon {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    background: rgba(237, 89, 89, 0.3);
    border-radius: 100%;
    font-size: 1.5rem;
}

.social-icons .social-icon a{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.social-icon{
    color: var(--f-col-light);
}

.social-icons .social-icon:hover {
    background-color: var(--f-col-grab);
    transition: var(--trans-ease);
}

.nav-list a:hover{
    color: var(--f-col-grab);
    transition: var(--trans-ease);
}

header{
    background-color: var(--f-col-dark);
}

#top-nav{
    min-height: 70px;
    align-items: center;
    color: var(--f-col-light);
}

#top-nav a.logo{
    color: var(--f-col-light);
}

.nav-list{
    margin: auto;
}

.nav-list li{
    margin: auto;
}

/* Resume button */
.nav-list li:last-child,
.mobile-nav li:last-child{
    padding: 5px 15px;
    margin: auto;
}

.nav-list li:last-child{
    margin-left: 12rem;
}

/* Hamburger button */
.hamburger-btn{
    width: 37px;
    height: 37px;
    border: none;
    cursor: pointer;
    background: none;
}

.hamburger-btn .hamburger-icon{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--f-col-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 2;
}

.hamburger-btn .hamburger-icon::after,
.hamburger-btn .hamburger-icon::before{
    content: '';
    position: absolute;
    top: -10px;
    background-color: var(--f-col-light);
    width: 70%;
    height: 2px;
}

.hamburger-btn .hamburger-icon::before{
    top: 10px;
}

/* Mobile Navigation */
.top-nav-list > div{
    position: fixed;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    z-index:1;
    transition: left 0.5s ease;
}

.top-nav-list > div > div{
    position: relative;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--f-col-dark);
    z-index:1;
    transition: left 0.5s ease;
}

.mobile-nav{
    position: absolute;
    width: 30%;
    text-align: center;
    left: 30%;
    bottom: 60%;
    transform: translate(-40%, 30%);
}

.mobile-nav li{
    padding-bottom: 2rem;
}

/* Button active state effect */
.hamburger-btn .hamburger-icon.is-active{
    transform: rotate(135deg);
    background-color: var(--f-col-grab);
}

.hamburger-btn .hamburger-icon.is-active::after,
.hamburger-btn .hamburger-icon.is-active::before{
    width: 100%;
    top: 0;
    transform: rotate(270deg);
    background-color: var(--f-col-grab);
}

.hamburger-btn .hamburger-icon.is-active:hover{
    transform: rotate(225deg);
}

.top-nav-list > div.is-active{
    left: 0;
}

.top-nav-list > div >div.is-active{
    left: 40%;
}

.footer-nav{
    opacity: 0.7;
}

.footer-nav:hover{
    color: var(--f-col-grab);
}