@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    /* typograpyh */
    --fs-xl: clamp(2rem, 8vw, 4rem);
    /* Dark mode variables */
    --bg-color: #0a031a;
    --text-color: #fff;
    --form-col: #fff;
    /* colors */
    --btn-bg-col: rgb(237, 89, 89, 0.2);
    --btn-bg-col-2: rgb(237, 89, 89, 0.6);
    --box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.2);
    --f-col-grab: #ED5959;
    --f-col-light: #fff;
    --active-col:#fff;
    /* transition */
    --trans-ease: all 0.5s ease-in-out;
}

/* Light mode variables */
[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #0a031a;
    --f-col-grab: #0a031a;
    --btn-bg-col: #0a031a33;
    --btn-bg-col-2: #0a031a99;
    --form-col: #0a031a;
    --active-col:#ED5959;
}

#theme-toggle{
    border: none;
    background-color: transparent;
    color: var(--text-color);
}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-grab{
    color: var(--f-col-grab);
}

.form-control,
.form-select{
    color:#0a031a;
    border-color: var(--form-col);
}

.form-control:focus,
.form-select:focus{
    box-shadow: var(--box-shadow);
    border-color: #0a031a;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100svh;
    margin: 0 auto;
    overflow-x: hidden !important;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 5svh;
    z-index: 999;
    background-color: var(--bg-color);
    backdrop-filter: blur(30px);
}

a{
    text-decoration: none;
    color: var(--f-col-light);
}

.section-head{
    font-size: 2.5rem;
}

.section-center{
    min-height: 100svh;
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
}

/* ----button---- */
.action-btn{
    color: var(--f-col-grab) !important;
    border: 1.5px solid var(--f-col-grab);
    border-right: 2.5px solid var(--f-col-grab);
    border-bottom: 2.5px solid var(--f-col-grab);
    box-shadow: 1.5px 1.5px 1.5px var(--f-col-grab);
    background: var(--btn-bg-col);
    border-radius: 5px;
    font-weight: 500;
    width: fit-content;
    padding: 5px 15px;
}

.action-btn:hover{
    color: var(--f-col-grab);
    border: 1.5px solid var(--f-col-grab);
    background: var(--btn-bg-col-2);
    transition: var(--trans-ease);
}

/* Social Links */
.social-icons{
    display: flex;
    gap: 1rem;
}

.social-icons .social-icon {
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    background: var(--btn-bg-col-2);
    border-radius: 100%;
    font-size: 1.5rem;
}

.social-icons .social-icon a{
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.social-icon{
    color: var(--text-color);
}

.social-icons .social-icon:hover {
    background-color: var(--f-col-grab);
    transition: var(--trans-ease);
}

.nav-list a:hover{
    color: #ED5959;
    transition: var(--trans-ease);
}

#top-nav{
    align-items: center;
    color: var(--text-color);
}

#top-nav a.logo{
    color: var(--text-color);
}

.nav-list{
    margin: auto;
    gap: 1rem;
}

.nav-list li{
    margin: auto;
}

/* Resume button */
.nav-list li:last-child,
.mobile-nav li:last-child{
    padding: 5px 15px;
    margin: auto;
}

.nav-link.link-is-active{
    color: #ED5959;
}

/* Hamburger button */
.hamburger-btn{
    width: 37px;
    height: 37px;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0.25rem;
}

.hamburger-btn .hamburger-icon{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 999999;
}

.hamburger-btn .hamburger-icon::after,
.hamburger-btn .hamburger-icon::before{
    content: '';
    position: absolute;
    top: -10px;
    background-color: var(--text-color);
    width: 70%;
    height: 2px;
}

.hamburger-btn .hamburger-icon::before{
    top: 10px;
}

/* Mobile Navigation */
.top-nav-list > div{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    top: 0;
    left: 100%;
    background-color: rgba(10, 3, 26, 0.5);
    transition: left 0.25s ease;
}

.top-nav-list > div > div{
    position: relative;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 99;
    min-height: 100vh;
    background-color: var(--bg-color);
    transition: left 0.3s ease;
}

.mobile-nav{
    position: absolute;
    width: 30%;
    text-align: center;
    left: 30%;
    transform: translate(-40%, 30%);
}

.mobile-nav li{
    padding-bottom: 2rem;
}

/* Button active state effect */
.hamburger-btn .hamburger-icon.is-active{
    transform: rotate(135deg);
    background-color: var(--f-col-grab);
}

.hamburger-btn .hamburger-icon.is-active::after,
.hamburger-btn .hamburger-icon.is-active::before{
    width: 100%;
    top: 0;
    transform: rotate(270deg);
    background-color: var(--f-col-grab);
}

.hamburger-btn .hamburger-icon.is-active:hover{
    transform: rotate(225deg);
}

.top-nav-list > div.is-active{
    left: 0;
}

.top-nav-list > div >div.is-active{
    left: 40%;
}

.footer-nav{
    opacity: 0.7;
}

.footer-nav:hover{
    color: var(--f-col-grab);
}

/* contact message */

.notification{
    opacity: 0;
}

.notification.display{
    opacity: 1;
    display: block;
    position: fixed;
    bottom: 2%;
    left: 3%;
    z-index: 9999999999999;
}

.contact-message{
    background-color: var(--bg-color);
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    border: 1.5px dashed var(--f-col-grab);
}

.contact-message i{
    color: var(--f-col-grab);
}


::-webkit-scrollbar{
    width: 0.45rem;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb{
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background-color:var(--text-color);
}

@supports (scrollbar-color: var(--f-col-grab), var(--bg-color)){
    *{
        scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
        scrollbar-width: thin;
    }
}


@media (max-width:400px){
    .notification.display{
        top: 10svh;
        left: 50%;
        width: 80%;
        z-index: 9999999999999;
        transform: translateX(-50%);
    }
}

@media (max-width:900px){
    .section-center{
        min-height: fit-content;
        margin-top: 2rem;
    }

    .contact-message{
        background-color: var(--bg-color);
        color: var(--text-color);
        padding: 0.25rem;
        border: 1.5px dashed var(--f-col-grab);
    }
}
