/*************
    GENERAL
************* */
:root{
    --fs-xl: clamp(2rem, 7vw, 4rem);
    --bg-linear-grad: linear-gradient(45deg, rgba(19, 29, 49, 1) 0%, rgba(19, 29, 49, 1) 35%, rgb(54, 62, 63) 100%);
    --col-light:#fff;
    --col-pry:#131d31;
    --col-sec:#363e3fb3;
    --box-shadow: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.2);
    --box-shadow-1: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.5);
    --box-shadow-2: 0px 0px 3px 0.2px rgba(0, 0, 0, 0.7);
    --box-shadow-3: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navbar{
    background-color: var(--col-pry);
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-toggler{
    border: 0;
}

.top-navbar{
    background-color: var(--col-light);
    box-shadow: var(--box-shadow);
}

.action-link {
    color: var(--col-sec);
}

.action-link:hover {
    color: var(--col-pry);
}

.profile-img{
    border-radius: 100%;
}

/* individual article on homepage styling */
.article-card {
    display: flex;
    box-shadow: var(--box-shadow);
    position: relative;
}

.article-card img:hover,
.article-card:hover {
    box-shadow: var(--box-shadow-1);
}

.article-card img{
    box-shadow: var(--box-shadow);
}

.article-category{
    background-color: var(--col-pry);
    padding: 0.2rem 1rem 0.2rem 1rem;
    color: var(--col-light);
    min-height: fit-content;
    position: absolute;
    top: 0;
    right: -1%;
}

.article-info {
    min-height: inherit;
    width: 100%;

}

.search-container{
    position: relative;
}

.search{
    border-radius: 5rem;
    padding: 0.8rem;
}

.search-button{
    position: absolute;
    top: 50%;
    right: 0.5%;
    transform: translate(-0.5%, -50%);
    border-radius: 5rem;
    background-color: var(--col-pry);
    color: var(--col-light);
    border:2px solid var(--col-pry);
    padding:0.5rem 1rem 0.5rem 1rem;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

.search-button:hover{
    box-shadow: var(--box-shadow-3);
    background-color: var(--col-pry);
}

/*************
    POST
**************/
.table_of_content{
    position: sticky;
    top: 20%;
    min-height: 60vh;
}

.toc{
    border: 1px solid var(--col-pry);
    padding: 0 0.5rem 0 0.5rem;
    font-weight: bold;
    border-radius: 5rem;
    width: fit-content;
}

.toc-link{
    position: relative;
    padding-left: 1rem;
}

.toc-link::before{
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--col-pry);
    padding-right: 0.7rem;
    /* https://www.cssportal.com/css-clip-path-generator/ */
    -webkit-clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
    }

.blog-post {
    width: 100%;
    min-height: 100vh;
}

.search-board,
.post-featured-image {
    margin-top: 5svh;
    position: relative;
    min-height: 40vh;
    background: var(--bg-linear-grad);
}

.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: 0;
}

.search-area,
.post-title {
    position: absolute;
    inset: 0;
    margin: auto;
    color: var(--col-light);
    height: fit-content;
    width: 80%;
}

.post-title{
    font-size: var(--fs-xl);
}

/* Post Floating Dock */
.post-attach {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    padding: 0.5rem;
    background-color: var(--col-light);
    width: 100px;
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    display:flex;
    justify-content: space-around;
}

.post-attach:hover {
    box-shadow: var(--box-shadow-1);
}

.post-attach a {
    color: var(--col-pry);
}

.post-content {
    width: 100%;
}

/*  *****************
    SCROLL-BAR STYLE
    *************** */

    ::-webkit-scrollbar{
        width: 0.6rem;
    }
    
    ::-webkit-scrollbar-track{
        background-color: var(--col-light);
    }
    
    ::-webkit-scrollbar-thumb{
        background-color:var(--col-sec);
        border-radius: 100vw;
    }
    
    ::-webkit-scrollbar-thumb:hover{
        background-color:var(--col-pry);
    }

/* *************
    MEDIA-QUERIES
**************** */
@media screen and (max-width: 992px)  {
    .navbar-brand{
        margin-left: 1rem !important;
    }
    .nav-internal-links{
        justify-content: start !important;
        margin-left: 0.2rem;
    }
    .navbar-toggler{
        margin-right: -1rem !important;
    }
}

@media screen and (max-width: 576px)  {
    .article-category{
        bottom: 0;
        right: -1%;
    }
}