{% extends 'blog_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block extra_title %} {{ post.title }} Post {% endblock %}
{% block content %}

<div class="post-featured-image container-fluid">
    <canvas class="background"></canvas>
    <p class="post-title fw-semibold">{{ post.title }}</p>
</div>
<section class="blog-post container">
    <div class="row">
        <div class="col-12 col-md-3 d-none d-md-block">
            <nav class="table_of_content my-5">
                <p class="py-2 toc">Table of Content</p>
                <ul class="list-unstyled">
                    <li class="toc-link"><a class="text-decoration-none action-link" href="#1">What is Django?</a></li>
                    <li class="toc-link"><a class="text-decoration-none action-link" href="#2">Why Use Django?</a></li>
                    <li class="toc-link"><a class="text-decoration-none action-link" href="#3">Steps in setting up Django</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-12 col-md-9">
            <div class="post-content my-5">
                <div class="row">
                    <div class="col-12 d-flex gap-3">
                        <img class="profile-img" width="100" height="100" src="https://res.cloudinary.com/dzdyzl4r5/image/upload/v1680209621/Profile-img_celtty.png" alt="profile pic">
                        <div class="d-flex flex-column justify-content-center">
                            <small class="fw-semibold">By {{ post.author }}</small>
                            <small>full-stack Software Developer</small>
                            <small>{{ post.updated_date }}</small>
                        </div>
                    </div>
                </div>
                <p class="my-5 text-center text-muted">{{ post.excerpt }}</p>
                <p>{{ post.content | safe }}</p>
                {% if request.user.is_superuser %}
                    <div class="d-flex gap-3 my-5">
                        <a href="{{ post.get_update_absolute_url }}" class="text-info"> Update</a>
                        <a href="{{ post.get_delete_absolute_url }}" class="text-danger"> Delete</a>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 comment-area">
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <input type="submit" value="Submit" class="action-btn" name="comment-form">
                        </form>
                        <div id="comments" class="my-5">
                            <h4>Comments</h4>
                            <div class="row">
                                {% for comment in comments %}
                                <div class="col-12 user-comment mb-2">
                                    <small><i class="fa-solid fa-user pe-1"></i><strong>{{ comment.author }}</strong> {{ comment.created_date }}</small>
                                    <p class="my-1">{{ comment.content }}</p>
                                    <div>
                                        <a href="#" class="text-decoration-none"><i class="fa-solid fa-thumbs-up"></i><small class="ps-1 text-muted">1</small></a>
                                    </div>
                                </div>
                                {% empty %}
                                    <p>No comments yet.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ul class="list-unstyled post-attach">
    <li class="like-box">
        <a href="#" class="text-decoration-none action-link"><small class="pe-1 text-muted">123</small><i class="fa-solid fa-thumbs-up"></i></a>
    </li>
    <li class="comment-box">
        <a href="#comments" class="text-decoration-none action-link"><small class="pe-1 text-muted">1</small><i class="fa-solid fa-comment"></i></a>
    </li>
</ul>
{% endblock %}
{% block post_load_js %}
    {{ block.super }}
    <script src="{% static 'content_nav.js' %}"></script>
{% endblock %}
