{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keyword" content="">
    {% endblock %}

    {% block icon %}
    {% endblock %}

    {% block corecss %}
    <!--Bootstrap CSS CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    <title>Folarin Ogungbemi |{% block extra_title %} Portfolio Website {% endblock %}</title>
</head>
<body>
    <!--Top Navigation-->
    <header class="container-fluid">
        <nav id="top-nav" class="row py-3">
            <div class="col-8">
                <a href="{% url 'home' %}" class="text-decoration-none logo">flucent</a>
            </div>
            <div class="col-4"></div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block postloadjs %}
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/b30d404726.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>