{% extends 'blog_base.html' %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-uppercase my-5">Delete post</h3>
            <p>Are you sure you want to delete <strong class="text-danger">{{ post }}</strong>?</p>
            <form action="{{ post.get_delete_absolute_url }}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>
{% endblock %}