{% extends 'blog_base.html' %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8 post mx-auto">
            <h3 class="text-center my-5">Update post</h3>
            <form action="{{ post.get_update_absolute_url }}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ form.image | as_crispy_field}} 
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.title | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.author | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.excerpt | as_crispy_field}}
                    </div>
                    <div class="col-12 col-md-6">
                        {{ form.categories | as_crispy_field}}
                    </div>
                    <div class="col-md-12">
                        {{ form.content | as_crispy_field }}
                        {{ form.media }}
                    </div>
                    <div class="col-12">
                        {{ form.published | as_crispy_field}}
                    </div>
                </div>
                <input type="submit" class="action-btn" name="post-form" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}