/* Technical Skills */
.skill-body{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    width: 80%;
    margin: auto;
}

.project-btn,
.skill{
    width: 140px;
    border: 2px solid var(--f-col-grab);
    box-shadow: 0.5px 0.5px 1.5px 0.5px var(--btn-bg-col);
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}

.project-btn a,
.skill-body a{
    text-decoration: none;
    color: var(--f-col-grab);
}

.project-btn:hover,
.skill:hover{
    border: 2px solid transparent;
}

@media (max-width:768px){
    .skill-body{
        grid-template-columns: repeat(auto-fit, minmax(5.8rem, 1fr));
        margin-left: 0;
    }
    
    .skill{
        width: 120px;
        border: none;
        box-shadow: none;
        text-align:justify;
        position: relative;
        padding: 0 0 0 0.7rem;
    }

    a.skill{
        color: var(--text-color);
    }

    .skill::before{
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #ED5959;
    padding-right: 0.5rem;
    
    /* https://www.cssportal.com/css-clip-path-generator/ */
    -webkit-clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
    }

    .about-me{
        margin-top: 0 !important;
    }
}

.about-text{
    line-height: 1.5rem;
}