.about-content{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Header line */
.section-header{
    position: relative;
    font-size: 2rem;
}

.section-header::before{
    content: '';
    position: absolute;
    width: 45.5%;
    top: 50%;
    left: 54.5%;
    background-color: var(--f-col-light);
    height: 1px;
    opacity: 0.1;
}

.section-header::after{
    content: '';
    position: absolute;
    width: 45.5%;
    top: 50%;
    right: 54.5%;
    background-color: var(--f-col-light);
    height: 1px;
    opacity: 0.1;
}

/* Technical Skills */
.technical-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    width: 90%;
}

.project-btn,
.skill-btn{
    width: 140px;
    border: 2px solid rgba(237, 89, 89, 0.5);
    box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(237, 89, 89, 0.5);
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}

.project-btn a,
.skill-btn a{
    text-decoration: none;
    color: rgba(237, 89, 89, 0.5);
}

.project-btn:hover,
.skill-btn:hover{
    border: 2px solid var(--f-col-dark);
}

@media (max-width:600px){
    .technical-skills{
        width: 100vw;
        grid-auto-flow: column;
        gap: 0.5rem;
        overflow: scroll;
    }
    
    .skill-btn{
        width: 120px;
        padding: 3px 8px;
    }
}

.about-text{
    line-height: 1.5rem;
    font-weight: 500;
    opacity: 0.85;
}