#hero,
#about,
#projects,
#contact{
    background-color: #0A031A;
    color: #fff;
}

.hero-content{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 .goal{
    opacity: 0.65;
}

.hero-text{
    font-weight: 400;
    opacity: 0.85;
}

.hero-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xl);
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

/* Buttons */
.action-btn{
    color: var(--f-col-grab) !important;
    border: 1.5px solid var(--f-col-grab);
    background: rgba(237, 89, 89, 0.2);
    border-radius: 5px;
    font-weight: 500;
}

.action-btn:hover{
    color: var(--f-col-grab);
    border: 1.5px solid var(--f-col-grab);
    background: rgba(237, 89, 89, 0.4);
    transition: var(--trans-ease);
}

/* Social icons style */
.social-icons{
    margin: 4rem 0;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    
}
.social-icons a{
    color: var(--f-col-light);
}

.social-icons a:hover{
    color: var(--f-col-grab);
}

/* Underline hover effect */
.underline-hover-effect{
    color: var(--f-col-grab);
    position: relative;
    opacity: 0.8;
    text-decoration: none;
}

.underline-hover-effect::before{
    position: absolute;
    content: '';
    background-color: var(--f-col-grab);
    width: 0%;
    height: 1.5px;
    left: 0;
    bottom: 0;
    transition: var(--trans-ease);
}

.underline-hover-effect:hover::before{
    width: 100%;
}