/* Technical Skills */
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.project-btn{
    width: fit-content;
    cursor: pointer;
    color: var(--f-col-grab);
}

.project-btn.active{
    color: var(--f-col-light);
    border: 2px solid var(--f-col-light);
    box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(255, 255, 255, 0.5);
    transition: var(--trans-ease);
}

.project-content{
    display: none;
}

.project-content.active{
    display: block;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-display .project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.project-display .project .project-caption {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.25;
    transition: var(--trans-ease);
    background-color: var(--f-col-light);
    color: var(--f-col-dark);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.project-caption-content a{
    font-size: 1.7rem;
    color: var(--f-col-dark);
}

.project-caption-content a:hover{
    color: var(--f-col-grab);
    transition: var(--trans-ease);
}

.project-name{
    color: var(--f-col-grab);
}

.project-display .project .project-caption:hover {
    opacity: 1;
}

.language-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style: none;
    width: 80%;
    padding: 0;
}

.language{
    opacity: 0.7;
    position: relative;
    width: fit-content;
    padding-left: 0.5rem;
    font-size: 0.9rem;
}

@media (max-width: 1000px){
    .project-display .project .project-caption {
        opacity: 1;
    }
    .project>img.project-img{
        height: 500px !important;
    }
}

@media (max-width: 600px){
    .section-head{
        margin-top: 3rem !important;
    }
    .project-display .project .project-caption {
        opacity: 1;
    }

    .project-caption-content a{
    font-size: 1rem;
    }
    
    .project>img.project-img{
        height: 600px !important;
    }

    .language{
        font-size: 1rem;
    }
}

.projects-content .project-skill{
    display: none;
}

.projects-content .project-skill.active{
    display: block;
    text-align: center;
}

.skill-info{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project-tech{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    position: relative;
    width: fit-content;
    padding-left: 0.8rem;
}

.language::before,
.project-tech::before{
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--f-col-grab);
    
    /* https://www.cssportal.com/css-clip-path-generator/ */
    -webkit-clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(0 0, 100% 50%, 3% 98%, 0% 100%, 25% 50%, 0% 0%);
}